[Unit]
Description=p2m startup
After=network.target
StartLimitIntervalSec=0

[Service]
type=simple
Restart=always
RestartSec=1
User=azureadmin
ExecStart=/usr/bin/pm2 start /var/www/public/app/app.js

[Install]
WantedBy=multi-user.target